.basketItemNames {
  display: flex;
}

.basketItemPrice {
  font-size: 12px;
}

.basket-minus,
.basket-plus {
  cursor: pointer;
}

.basket-quantity {
  display: flex;
  flex: 1 1 0;
  padding: 8px;
  margin: auto 1% auto 1%;
  background-color: white;
  border-radius: 50%;
}

.basket-quantity-count {
  margin: auto;
}

.remove-single-item:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .item-total {
    margin: auto;
  }
}

@media (max-width: 1250px) {
  .basketOutput {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}
