#main-box {
  background-color: #fff;
  margin: 0 7% 0 7%;
  overflow: auto;
  flex: 1 1 auto;
}

#main-box > .add-to-cart:hover {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}

#main-box > .add-to-cart {
  display: flex;
  background-color: #282c34;
  color: #fff;
  margin: 2% auto auto 8%;
  border: 1px solid transparent;
}

.autocomplete-dropdown {
  margin-left: 8%;
  margin-right: 8%;
}

@media (max-width: 750px) {
  #main-box {
    height: 72%;
    margin-left: 0;
    margin-right: 0;
  }
}
