.basketItemNames {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.basketItemPrice {
  font-size: 12px;
}

.basket-quantity {
  display: flex;
  flex: 1 1 0;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}

.basket-quantity-count {
  margin: auto 18px auto 18px;
}

@media (max-width: 750px) {
  .basket-quantity {
    margin-right: 0;
    padding: 0;
  }

  .basket-quantity-count {
    margin: auto;
  }
}

@media (max-width: 1250px) {
  .basketOutput {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}
