.app-info {
  display: flex;
  margin: auto;
  justify-content: center;
}

.app-info:hover {
  cursor: pointer;
}

.info-button:hover .info-popout {
  visibility: visible;
}

.info-popout {
  background-color: #282c34;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  visibility: hidden;
  transition: 0.3s;
}
