.cart-page-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  background-color: white;
  margin: 0 12% 0 12%;
  padding-bottom: 17vh;
}

.cart-page-container .back-to-shopping {
  background-color: #282c34;
  color: #ffffff;
  border: 1px solid transparent;
  margin: 3% auto 2% 13%;
}

.cart-page-container .back-to-shopping:hover {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}

.cart-output {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.cart-pay {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.image-output {
  margin: auto;
}

.cart-page-container > .clear-basket {
  background-color: #282c34;
  color: #fff;
  margin: 2% auto 1% 13%;
  border: 1px solid transparent;
}

.cart-page-container > .clear-basket:hover {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}

.pay-icons {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.pay-icons:hover {
  cursor: pointer;
}

.remove-span:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .cart-page-container {
    margin: 0 5% 0 5%;
  }
}
