a {
  color: white;
  align-items: center;
}

footer {
  flex: 1 1 0;
  color: white;
  background-color: #282c34;
  padding-bottom: 2%;
}

.footer-a {
  display: flex;
  align-items: center;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30% 0 30%;
}

@media (max-width: 1200px) {
  .footer-a {
    margin-bottom: 3%;
  }

  .footer-contact {
    flex-direction: column;
    margin: 0 20% 5% 20%;
  }
}
