.checkout {
  margin-right: 8%;
}

.info-output {
  display: flex;
  justify-content: space-between;
  margin: 2% auto auto 8%;
}

.info-output > .clear-all {
  display: flex;
  margin: auto;
  background-color: #282c34;
  color: #fff;
  border: 1px solid transparent;
}

.info-output > .clear-all:hover {
  background-color: #fff;
  color: #282c34;
  border: 1px solid #282c34;
}

@media (max-width: 750px) {
  .checkout {
    margin-left: 8%;
  }

  .info-output {
    display: grid;
    justify-content: center;
  }
}
