@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html,
body,
footer,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-image: url('./img/strawbs.jpg');
  background-size: contain;
}

a {
  text-decoration: none;
}

body {
  flex: 1 1 0;
}

.alertClass,
.autoClass,
.basketOutput,
.departClass,
.cartHeading,
.priceHeader,
.titleHeader,
.utilBtn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 700ms;
}

.App-link {
  color: #61dafb;
}

.autoClass {
  margin-left: 8%;
  margin-right: 8%;
}

#retailerButtons {
  display: flex;
  justify-content: center;
  margin: auto;
}

#reselect {
  display: flex;
  flex: 1 1 0;
  text-align: center;
}

#reselect > .reselectBtn {
  background-color: #282c34;
  color: #ffffff;
  border: 1px solid transparent;
  margin: 0 auto auto 8%;
}

#reselect > .storeImage {
  margin: auto 46% auto auto;
}

#retailerButtons > .retailerBtn {
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px 10px;
  top: 0;
}

#retailerButtons > .retailerBtn:hover {
  transition: 250ms;
  top: -9px;
}

.basketOutput > .basketItems {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basketItemNames {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
}

.basketItemNames > p {
  line-height: 0%;
}

.basketOutput {
  display: grid;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#boxStyles {
  background-color: #fff;
  margin: 0 7% 7% 7%;
  overflow: auto;
  flex: 1 1 auto;
}

#boxStyles > .utilBtn {
  display: flex;
  background-color: #282c34;
  color: #fff;
  margin: 1% auto auto 8%;
  border: 1px solid transparent;
}

.cartHeading {
  margin: 20px;
  color: #021103;
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

.checkout {
  margin-right: 8%;
}

.departClass {
  margin-bottom: 1%;
}

.legal a {
  color: white;
  font-size: 12;
}

.legal ul {
  list-style-type: none;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 12;
}

.infoOutput {
  display: flex;
  justify-content: space-between;
  margin: 5% auto auto 8%;
}

.infoOutput > .utilBtn {
  display: flex;
  margin: auto;
  background-color: #282c34;
  color: #fff;
  border: 1px solid transparent;
}

.paperClass {
  display: flex;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
}

.priceHeader {
  display: flex;
  margin: auto;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
}

.social {
  margin-top: 25px;
  padding: 15px;
}

.social ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style-type: none;
}

.social li {
  padding: 0 15px;
}

.social img {
  max-width: 45px;
  max-height: 35px;
  padding: 10px;
}

.storeImage:hover {
  transition: 500ms;
  opacity: 0.85;
}

.topBar {
  background-color: white;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  #root {
    height: 150%;
  }

  footer {
    font-size: small;
  }

  #retailerButtons {
    display: grid;
    margin: auto;
    flex: 1 1 0;
    width: 280px;
  }

  #retailerButtons > .retailerBtn {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 20px;
  }

  #reselect {
    flex-direction: column;
    margin: 0 auto auto auto;
  }

  #reselect > .storeImage {
    margin: 10% auto auto auto;
  }

  .basketOutput > .basketItems {
    margin: 5px;
  }

  .basketItemNames {
    font-size: medium;
    margin-left: 0;
  }

  #boxStyles {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .checkout {
    margin-left: 8%;
  }

  .departClass {
    margin-top: 0;
  }

  .infoOutput {
    display: grid;
  }

  .infoOutput > .priceHeader {
    margin-left: 8%;
  }

  .social li {
    padding: 0 10px;
  }

  .social img {
    margin-left: -30%;
    padding: 0;
  }

  .titleHeader {
    min-height: 0;
    height: 0;
  }

  .storeImage {
    display: flex;
    margin: auto;
    justify-content: center;
    height: auto;
    width: auto;
  }
}

@media (max-width: 1400px) {
  .basketOutput {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}

@media (min-width: 750px) {
  #boxStyles > .utilBtn:hover,
  .infoOutput > .utilBtn:hover {
    background-color: #fff;
    color: #282c34;
    border: 1px solid #282c34;
  }

  #reselect > .reselectBtn:hover {
    background-color: #fff;
    color: #282c34;
    border: 1px solid #282c34;
  }
}
