@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html,
body,
footer,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  color: white;
  background-color: #282c34;
  margin-top: 30vh;
}

.copyFootLeft {
  margin-left: 14%;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

.copyFootRight {
  float: right;
  margin-right: 14%;
  margin-bottom: 10px;
}

footer,
.alertClass,
.autoClass,
.basketOutput,
.departClass,
.cartHeading,
.priceHeader,
.titleHeader,
.utilBtn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 700ms;
}

.alertClass {
  margin-left: 8%;
  margin-right: 8%;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.autoClass {
  margin-left: 8%;
  margin-right: 8%;
}

#retailerButtons {
  display: flex;
  justify-content: center;
  margin: auto;
}

#reselect > .reselectBtn {
  background-color: #282c34;
  color: #ffffff;
  border: 1px solid transparent;
  margin: auto;
  display: flex;
  justify-content: center;
}

#retailerButtons > .retailerBtn {
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px 10px;
  top: 0;
}

#retailerButtons > .retailerBtn:hover {
  transition: 250ms;
  top: -9px;
}

.basketOutput > .basketItems {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.basketItemNames {
  margin-left: 10px;
  flex: 1 1 auto;
}

.basketOutput {
  display: grid;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 8%;
  margin-right: 8%;
}

#boxStyles {
  background-color: #fff;
  margin-top: 15px;
  margin-left: 7%;
  margin-right: 7%;
  overflow: auto;
  flex: 1 1 auto;
}

#boxStyles > .utilBtn {
  display: flex;
  background-color: #282c34;
  color: #fff;
  margin-left: 8%;
  border: 1px solid transparent;
}

.cartHeading {
  margin: 20px;
  color: #021103;
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

.departForm {
  margin-top: 20px;
  margin-left: 8%;
  margin-bottom: 10px;
}

.legal a {
  color: white;
  font-size: 12;
}

.legal ul {
  list-style-type: none;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 12;
}

.infoOutput {
  display: flex;
  margin-top: 50px;
}

.priceHeader {
  justify-content: flex-end;
  margin-right: 8%;
}

.infoOutput > .utilBtn {
  display: flex;
  margin: auto auto auto 8%;
  justify-content: flex-start;
  background-color: #282c34;
  color: #fff;
  border: 1px solid transparent;
}

.paperClass {
  display: flex;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
}

.social {
  margin-top: 25px;
  padding: 15px;
}

.social ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style-type: none;
}

.social li {
  padding: 0 15px;
}

.social img {
  max-width: 45px;
  max-height: 35px;
  padding: 10px;
}

.storeImage:hover {
  transition: 500ms;
  opacity: 0.85;
}

.topBar {
  background-color: white;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  footer {
    font-size: small;
    margin-bottom: 0;
    margin-top: 0;
  }

  #retailerButtons {
    display: grid;
    padding-left: 5px;
    padding-right: 5px;
    height: 600px;
    width: 300px;
  }

  #retailerButtons > .retailerBtn {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 20px;
  }

  .basketOutput {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .basketOutput > .basketItems {
    margin: 5px;
  }

  .basketItemNames {
    font-size: medium;
    justify-content: center;
  }

  .basketItemNames > .removeBtn {
    font-size: x-small;
    padding: 0 5px;
  }

  #boxStyles {
    height: 100%;
  }

  .copyFootRight {
    float: none;
    margin-left: 14%;
    margin-bottom: 40px;
  }

  .departClass {
    margin-top: -380px;
  }

  .infoOutput {
    display: grid;
  }

  .infoOutput > .priceHeader {
    margin-left: 8%;
  }

  .muiDiv {
    margin-top: -15px;
  }

  .social li {
    padding: 0 10px;
  }

  .social img {
    margin-left: -30%;
    padding: 0;
  }

  .titleHeader {
    min-height: 0;
    height: 0;
  }

  .cartHeading {
    font-size: 1em;
  }

  .storeImage {
    display: flex;
    margin: auto;
    justify-content: center;
    height: auto;
    width: auto;
  }
}

@media (min-width: 750px) {
  #boxStyles > .utilBtn:hover,
  .infoOutput > .utilBtn:hover {
    background-color: #fff;
    color: #282c34;
    border: 1px solid #282c34;
  }

  #reselect > .reselectBtn:hover {
    background-color: #fff;
    color: #282c34;
    border: 1px solid #282c34;
  }

  .logo:hover {
    transition: 300ms;
    font-size: 1.05em;
  }
}
